In [ ]:
%-포맷팅을 사용한 문자열 포맷팅
's' 문자열 포맷
'c' 문자 포맷. 정수를 유니코드 문자로 변환해 출력
'd' 10진수로 출력
'o' 8진수로 출력
'x' 16진수로 출력
'f' 부동소수점 숫자로 출력. 소수점 이하 6자리 의 정밀도를 기본값으로 가짐
'%' %문자 자체를 출력

In [1]:
"이름: %s" % "홍길동"

'이름: 홍길동'

In [2]:
"나이: %s 세" % 20
#%s: % 다음의 값을 문자열로 변환해 처리하는 기능을 가짐

'나이: 20 세'

In [3]:
"결혼: %s" % False

'결혼: False'

In [4]:
"키: %s cm" % 180.5

'키: 180.5 cm'

In [9]:
"이름: %s, 나이: %s 세" %("홍길동",20)
#자료구조 튜플 사용. 각 원소를 인자로 각각의 %s에 전달함

SyntaxError: invalid syntax (<ipython-input-9-0f7406ac3d52>, line 1)

In [11]:
"이름: %(name)s, 나이: %(age)s 세" % {"name":"홍길동","age":20}

'이름: 홍길동, 나이: 20 세'

In [12]:
"%c => %d" %(97,97)

'a => 97'

In [13]:
"%d %o %x" %(10,10,10)
#%d => 10진 정수 형태로 문자열 변환
#%o => 8진 정수 형태로 문자열 변환
#%x => 16진 정수 형태로 문자열 변환

'10 12 a'

In [16]:
"%o %x" % ( ord("가"), ord("가"))

'126000 ac00'

In [17]:
"%f %d" % (3.14, 3.14)
#%f : 3.14값에 대해 소수점 이하 6자리까지 출력된 문자열 변환 결과
#%d : 3.14에 대해 정수부만 출력된 문자열 변환 결과

'3.140000 3'

In [18]:
"%d 점은 상위 %d%%에 속합니다." % (98,1)

'98 점은 상위 1%에 속합니다.'

In [23]:
#문자열 출력 폭과 정렬방법
"%10s" % "우측정렬" #=> 문자열의 폭이 10, 정렬의 방향이 우측임

'좌측정렬      '

In [24]:
"%-10s" % "좌측정렬" #=> 문자열의 폭이 10, 정렬의 방향이 좌측임

'좌측정렬      '

In [ ]:
부동소수점 숫자의 출력 폭 지정,
소수점 이하의 정밀도 표현 적용

In [25]:
"%0.2f" % 3.141592 #=> 부동소수점을 소수점 2자리까지 표시함

'3.14'

In [26]:
"%10.2f" % 3.141592 #=> 부동소수점을 소수점을 포함한 전체 자리수를 10으로 함

'      3.14'

In [28]:
"%010.2f" % 3.141592 
#=> 부동소수점을 소수점을 포함한 전체자리수는 10,
# 소수점 이하 두자리까지 표시하고, 앞의 남은 자리를 0으로 채움

'0000003.14'

In [ ]:
str.format() 함수를 이용한 문자열 포맷팅

In [ ]:
1. 값의 위치 이용

In [30]:
#str.format() 함수에서 전달할 인자의 위치 인덱스는 0부터 시작함
"이름: {0}, 나이 {1} 세".format("홍길동",20)

'이름: 홍길동, 나이 20 세'

In [31]:
"이름: {1}, 나이 {0} 세".format("홍길동",20)

'이름: 20, 나이 홍길동 세'

In [32]:
"{0:c} => {1}".format(97,97)
#{0:c} => 유니코드로 a로 변환

'a => 97'

In [33]:
"{0},{1},{2:x}".format("가", ord("가"), ord("가"))
#{2:x} => 44032 를 16진수 ac00로 변환

'가,44032,ac00'

In [39]:
"{0:f} {1:.2f}".format(3.14, 3.14)
# {0:f} 3.14에 대해 소수점 이하 6자리까지 출력된 문자열 변환 결과
# {1:.2f} 3.14에 대해 소수점 이하 2자리까지 출력된 문자열 변환 결과

'3.140000 3.14'

In [ ]:
2. 이름 이용

In [40]:
"이름: {name}, 나이: {age} 세".format(name="홍길동", age=20)

'이름: 홍길동, 나이: 20 세'

In [ ]:
3. 문자열 폭, 정렬방향 지정

In [41]:
"{0:<10}".format("좌측정렬")
# <는 정렬의 방향이 좌측임을, 10은 출력할 문자열의 폭이 10을 의미함

'좌측정렬      '

In [42]:
"{0:>10}".format("우측정렬")

'      우측정렬'

In [43]:
"{0:^10}".format("중앙정렬")

'   중앙정렬   '

In [44]:
"{0:*^10}".format("중앙정렬")
# *는 공백을 채울 문자, ^는 정렬의 방향이 중앙, 10은 출력할 문자열의 폭이 10임을 의미함.

'***중앙정렬***'

In [ ]:
4. 부동소수점 숫자 폭, 소수점 이아 정밀도 표현

In [45]:
"{0:0.2f}".format(3.141592)

'3.14'

In [47]:
"{0:10.2f}".format(3.141592)
#=> 전체 자리수 10, 소수점 이하 두자리 까지 표시

'      3.14'

In [48]:
"{0:010.2f}".format(3.141592)
#=> 전체 자리수 10, 소수점 이하 두자리까지 표시, 앞의 남은 자리를 0으로 채움

'0000003.14'

In [50]:
"{{{0:.1f}}}".format(98.5)

'{98.5}'